.explore-card {
    transition-duration: 400ms;

    .img-wrap {
        position: relative;
        z-index: 1;
        overflow: hidden;
        border-radius: .75rem;

        img {
            border-radius: .75rem;
            transition: all 400ms ease;
            vertical-align: middle;
        }
    }

    .name-info {
        .name-author {
            flex: 0 0 calc(100% - 2.25rem);
            width: calc(100% - 2.25rem);
            max-width: calc(100% - 2.25rem);

            .author {
                color: $white;
            }
        }
    }

    &:hover,
    &:focus {
        transform: translateY(-6px);

        .img-wrap {
            >img {
                transform: scale3d(1.2, 1.2, 1.2);
            }
        }
    }
}