.header-area {
    position: fixed;
    width: 100%;
    z-index: 1020;
    transition: all 500ms;
    border-bottom: 1px solid $border;
    top: 0;
    left: 0;

    &.mobile-menu-open {
        background-color: $white;

        .collapse {
            display: block !important;
        }
    }

    &.sticky-on {
        box-shadow: 0 1rem 3rem rgba(15, 30, 150, 0.175);
        background-color: $white;
    }

    .navbar-toggler {
        padding: 0;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1.5rem;
        color: $heading;

        &:focus {
            box-shadow: none;
        }
    }

    .navbar {
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
        color: rgba(0, 0, 0, 0.55);
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem 0;
        padding-left: 0;
        padding-right: 0;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        font-size: 1.25rem;
        color: rgba(0, 0, 0, 0.9);
        color: rgba(0, 0, 0, 0.9);
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
        padding-left: 0.75rem;
        padding-right: 0.75rem;
        font-size: 1.25rem;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 0.375rem;
        transition: box-shadow 0.15s ease-in-out;
        color: rgba(0, 0, 0, 0.9);
        color: rgba(0, 0, 0, 0.55);
        color: rgba(0, 0, 0, 0.7);
        color: rgba(0, 0, 0, 0.3);

    /* Focus State */
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.5);

        @media #{$breakpoint-lg} {
            height: 80px;
            padding-top: 0;
            padding-bottom: 0;
            position: relative;
            display: flex;
            align-items: center;
        }

        .navbar-brand {
            padding-top: 0;
            padding-bottom: 0;
            margin-right: 1rem;
            line-height: 1 !important;

            > img {
                max-height: 35px;

                @media #{$breakpoint-lg} {
                    max-height: 60px;
                }
            }

            @media #{$breakpoint-lg} {
                margin-right: 1rem;
            }

            @media #{$breakpoint-xl} {
                margin-right: 2.5rem;
            }

            .dark-logo {
                display: none;
            }
        }
    }

    @media only screen and (min-width: 992px) {
        .navbar-expand-lg {
            flex-wrap: nowrap;
            justify-content: flex-start;
        }
    }

    .navbar-toggler {
        padding: 0.25rem 0.75rem;
        font-size: 1.25rem;
        border-color: rgba(0, 0, 0, 0.1);
        border-radius: 0.375rem;
        transition: box-shadow 0.15s ease-in-out;
        line-height: 1;
        background-color: transparent;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 0.375rem;
        transition: box-shadow 0.15s ease-in-out;
    }
      
    .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25); /* --bs-navbar-toggler-focus-width */
    }

    .header-area .navbar-toggler {
        padding: 0;
        width: 1.75rem;
        height: 1.75rem;
        font-size: 1.5rem;
        color: #1f0757;
    }

    .header-area .navbar-toggler:focus {
        -webkit-box-shadow: none;
                box-shadow: none;
      }

    @media only screen and (min-width: 992px) {
        .navbar-expand-lg .navbar-toggler {
            display: none;
        }
    }

    .navbar>.container {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: space-between;
    }

    .container {
        width: 100%;
        padding-right: calc(1.5rem* 0.5);
        padding-left: calc(1.5rem* 0.5);
        margin-right: auto;
        margin-left: auto;
    }

    .navbar-collapse {
        flex-basis: 100%;
        flex-grow: 1;
        align-items: center;
    }

    @media only screen and (min-width: 992px) {
        .navbar-expand-lg .navbar-nav {
            flex-direction: row;
        }
    }

    @media only screen and (min-width:992px) {
        .navbar-expand-lg .navbar-collapse {
            display: flex !important;
            flex-basis: auto;
        }
    }

    @media only screen and (min-width:992px) {
        .navbar-expand-lg {
            overflow: visible;
        }
    }

    .navbar-nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        display: flex;
        flex-direction: column;
        padding: 0.5rem 0;
        font-weight: normal;
        color: rgba(0, 0, 0, 0.55);

        li {
            >a {
                display: inline-block;
                color: $heading;
                font-weight: 500;
                font-size: 16px;
                padding: .375rem .75rem;

                @media #{$breakpoint-lg} {
                    font-size: 18px;
                }

                @media #{$breakpoint-xl} {
                    padding: 1rem 1.25rem;
                }

                &:hover,
                &:focus {
                    color: $primary;
                }
            }

            a:hover, .header-area .navbar-nav li > a:focus {
                color: #0d6efd;
            }

            .ft-dd-menu {
                list-style: none;
                background-color: rgba(194, 212, 248, 0.5);
                
                position: relative;
                z-index: 100;
                top: 100%;
                width: 100%;
                border: 0;
                border-radius: .5rem;
                display: none;
                padding-left: 0;

                @media #{$breakpoint-lg} {
                    padding: 1rem 0;
                    transition: all 350ms ease-in;
                    position: absolute;
                    top: calc(100% + 8px);
                    width: 13rem;
                    background-color: $white;
                    visibility: hidden;
                    opacity: 0;
                    display: block;
                    border: 2px solid $text-gray;
                    box-shadow: 0 1rem 3rem rgba(15, 30, 150, 0.175);
                }

                li {
                    >a {
                        transition-duration: 400ms;
                        position: relative;
                        font-size: 16px;
                        padding: .375rem 1rem;
                        color: $heading;

                        @media #{$breakpoint-lg} {
                            padding: .375rem 1.5rem;
                        }

                        &:hover,
                        &:focus {
                            background-color: transparent;
                            color: $primary;

                            @media #{$breakpoint-lg} {
                                color: $primary;
                            }
                        }
                    }
                }
            }

            &:hover,
            &:focus {
                a {
                    color: $primary;
                }
            }
        }
    }

    [data-theme=dark] .header-area .navbar-nav li > a {
        color: #2761d5;
    }

    input {
        margin: 0;
        font-family: inherit;
    }

    .header-meta {
        margin-top: .5rem !important;

        .search-form {
            z-index: 100;

            .form-control {
                display: block;
                width: 250px;
                height: 40px;
                padding: .2rem .875rem;
                border-radius: .5rem;
                font-weight: 400;
                line-height: 1.5;
                font-size: 1rem;
                appearance: none;
                transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

                @media #{$breakpoint-xl} {
                    width: 180px;
                }
            }

            .form-control:focus {
                box-shadow: none;
                outline: 0;
            }

            button {
                width: 30px;
                height: 30px;
                border: 0 !important;
                background-color: $white;
                border-radius: 50%;
                font-size: 14px;
                color: $text;
                right: .5rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 10;
                text-transform: none;
                margin: 0;
                font-family: inherit;
            }

            [type=submit]:not(:disabled), button:not(:disabled) {
                cursor: pointer;
            }
        }
    }
}

.collapse:not(.show) {
    display: none;
}